.background {
	background-color: #fc5f1a;
}
h1 {
	margin-top: 5%;
}
h2{
text-align: center;
}
h3 {
	color: orange;
	font-size: 70px;
	letter-spacing: 2.5px;
}
h1, h3 {
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	text-align: center;
}
.small, .small2 {
	font-size: 60px;
}
.big {
	font-size: 120px;
}
.bio {
	font-weight: 500;
	font-style: italic;
	line-height: 1;
	text-align: center;
}
p, .ul {
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
}
.chart {
	margin: 0 auto;
	display: block;
}
.underline {
	text-decoration: underline;
	text-decoration-color: #ffa500;
	color: black;
	font-weight: 600;
}
.box1, .box2 {
	border: 1px solid white;
	background-color: white;
	margin-left: 60px;
	margin-right: 60px;
}
.box1 {
	padding-top: 5%;
	padding-bottom: 5%;
	margin-top: 2%;
}

.titlebox {
	border: 1px #010833;
	background-color: #010833;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 60px;
	margin-right: 60px;
}
.League {
	font-weight: 500;
	letter-spacing: 1.5px;
	color: #ffa500;
	font-size: 18px;
}
.line3 {
	font-weight: 200;
	font-size: 16px;
	color: #010833;
}
.player {
	font-family: 'Anton', sans-serif;
	font-size: 30px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.subhead {
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
}
.title {
	font-weight: 600;
}
.title, .data {
	font-size: 14px;
}
.line {
	border: 2px white solid;
	width: 25%;
	margin: 0 auto;
	margin-top: 1%;
}
.endmargin {
	margin-bottom: 5%;
}
@media (max-width: 576px) {
	.small, .small2 {
		font-size: 37px;
	}
	.big {
		font-size: 85px;
	}
	p {
		font-size: 15px;
		line-height: 1.75;
	}
	.line3 {
		font-size: 15px;
		line-height: 1.75;
	}
}
@media (max-width: 768px) {
	.media {
		padding-left: 2%;
		padding-right: 2%;
	}
}
