.content {
	margin-top: 1%;
	margin-left: 1%;
}
.navbar-brand {
	font-family: 'Playfair Display', serif;
	font-size: 28px;
	/*border-right: 1px solid;
	border-bottom: 1px solid;*/
	padding: 7px;
}
/*h1 {
	font-family: 'Playfair Display', serif;
	font-size: 28px;
	color: #0A1172;


}*/

.h2{
	font-family: 'Noto Serif', serif;
	font-size: 28px;
	color: #0A1172;

}

p, h3, h4, li {
	font-family: 'Lato', sans-serif;
}
	
h3{
	color:blue;
}
h4{
	font-style: italic;
}
.about p{
	padding-right: 5%;
	padding-bottom: 5%;
	border-right: 1px solid darkgray;
	border-bottom: 1px solid darkgray;
}

h3,h4,li
{font-size: 20px;}

.about
.resume
.clips
.contact
{
	margin-top: 5%;
}

/* clips*/

.article{
	font-size: 20px
	
	font-weight bold;
}


/* mobile only*/
@media(max-width: 564px){
	.navbarbrand{
		border-right: 0;
		border-bottom: 0;
	}
}


/*.aboutme h2 {
	font-family: 'Noto Serif', serif;
	font-size: 28px;
	color: #0A1172;


.resume h3 {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: blue;
}
.resume h4 {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-style: italic;
}
.resume li {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}
h4 {
	font-family: 'Noto Serif', serif;
}



.row {
	display: flex;
}
.img-fluid {
	margin-top: 8px;
	height: 280px;
	border: 1px solid;
}
.resumeintro {
	margin-top: 5px;
	margin-left: 1px;
}
.contact p {
	margin-left: 10px;
}
.clips h1 {
	margin-right: 50px;
}
.clips h2 {
	font-size: 20px;
	font-family: 'Noto Serif', serif;
	font-weight: bold;
}
.clips h3 {
	font-size: 16px;
}
.articles {
	margin-left: 25px;
}
.final6 {
	margin-left: 20px;
}
.blackpanther {
	margin-left: 35px;
}